{%- extends 'lab/index.html.j2' -%}

{# this overrides the default behavior of directly starting the kernel and executing the notebook #}
{% block notebook_execute %}
{% endblock notebook_execute %}

{%- block html_head_css -%}
{{ super() }}
{% if resources.theme == 'dark' %}
{% set bar_color = '#555454' %}
{% else %}
{% set bar_color = '#5cbcaf' %}
{% endif %}

<style type="text/css">
  body {
    background-color: var(--jp-layout-color0);
  }

  /* Overwrite default value */
  .jp-Notebook {
    padding: 0px !important;
  }

  div#rendered_cells {
    padding: 0px; !important
  }

</style>

<style>
a.anchor-link {
  display: none;
}
.highlight  {
  margin: 0.4em;
}
/* we keep the DOM for nbconvert the same as for voila, but hide the status icon */
#kernel-status-icon {
  display: none;
}
</style>

{%- endblock html_head_css -%}

{%- block body -%}
{%- block body_header -%}
  {{ super() }}
  <main>
    
{%- endblock body_header -%}

{%- block body_loop -%}
          {% if resources.theme == 'dark' %}
          <div class="jp-Notebook theme-dark">
          {% else %}
          <div class="jp-Notebook theme-light">
          {% endif %}
            {{ super() }}
          </div>
{%- endblock body_loop -%}

{%- block body_footer -%}
  </main>
  {{ super() }}
  {{ resources.include_js("static/require.js") }}
{%- endblock body_footer -%}

{%- endblock body -%}
